<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<style>
    .tab {
        overflow: hidden;
        background-color: #f1f1f1;
        width: 750px;
        position: relative;
        right: 20px;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        width: 750px;
        padding: 6px 12px;
        border-top: none;
        position: relative;
        right: 20px;
    }


    .tab2 {
        overflow: hidden;
        background-color: #f1f1f1;
        width: 750px;
        position: relative;
        right: 20px;
    }

    .tab2 button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab2 button:hover {
        background-color: #ddd;
    }

    .tab2 button.active2 {
        background-color: #ccc;
    }

    .tabcontent2 {
        display: none;
        width: 750px;
        padding: 6px 12px;
        border-top: none;
        position: relative;
        right: 20px;
    }

    .hideBtnTab{
        display: none;
    }
    .displayBtnTab{
        display: block;
    }
</style>
<body>
<header th:replace="fragments/header"></header>
    <div class="container" style="position: relative;left: 150px;margin-top: 88px">
        <input type="hidden" id="fixtureId" name="fixtureId" th:value="${fixtureId}">
        <div class="row">
            <div class="card" style="width: 880px">
                <div class="card-header">
                    <h2>Details</h2>
                </div>
                <div class="card-body">

                    <div class="tab" style="width: 880px">
                        <button id="btn1" class="tablinks active" onclick="openTab(event, 'Lineup')">Lineup</button>
                        <button id="btn2" class="tablinks" onclick="openTab(event, 'MatchOfficials')">Match Officials</button>
                        <button id="btn3" class="tablinks" onclick="openTab(event, 'Statistics')">Statistics</button>
                        <button id="btn4" class="tablinks" onclick="openTab(event, 'h2h')">H2H</button>
                        <button id="btn5" class="tablinks" onclick="openTab(event, 'playerStatistics')">Player Statistics</button>
                    </div>
                    <div style="margin-left: 305px;position: relative;top: 15px" id="matchStatus"></div>
                    <p style="margin-left: 200px;margin-top: 25px">
                        <span id="fixHomeTeamImg">
                        </span>
                        <span id="fixHomeTeam"></span>
                        <span id="fixResult"></span>
                        <span id="fixAwayTeamImg">
                        </span>
                        <span id="fixAwayTeam"></span></p>
                    <p style="margin-left: 250px" id="halfTimeResult"></p>
                    <p style="margin-left: 250px" id="exPen"></p>
                        <div class="row">
                            <div class="col-3" id="fixDate"></div>
                            <div class="col-3" id="fixLeague"></div>
                            <div class="col-3" id="fixRound"></div>
                            <div class="col-3" id="fixStartTime"></div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="fixVenue"></div>
                        </div>
                    <hr/>
                    <div id="Lineup" style="display: block" class="tabcontent">
                        <div class="row" style="width: 879px;position: relative;left: 3px">
                            <div class="col-12 bg-dark">
                                <h5 class="text-white">Lineup</h5>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-6">
                                <p>Formation: <span id="formation1"></span></p>
                                <table class="table table-striped" id="homeLineup">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6">
                                <p>Formation: <span id="formation2"></span></p>
                                <table class="table table-striped" id="awayLineup">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="width: 879px;position: relative;left: 2px">
                            <div class="col-12 bg-dark">
                                <h5 class="text-white">Substitutes</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <table class="table table-striped" id="homeSubLineup">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6">
                                <table class="table table-striped" id="awaySubLineup">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="MatchOfficials" style="display: none" class="tabcontent">
                        <div class="row" style="width: 880px;position: relative;left: 2px">
                            <div class="col-12 bg-secondary">
                                <h5 class="text-white">Match Officials</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="width: 850px">
                                <table class="table table-striped" style="width: 865px" id="refereeTable">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="Statistics" style="display: none" class="tabcontent">
                        <div class="row" style="width: 879px;position: relative;left: 3px">
                            <div class="col-12 bg-danger">
                                <h5 class="text-white">Statistics</h5>
                            </div>
                        </div>
                        <div style="margin-left: 60px;margin-top: 10px">
                            <table class="table table-striped" id="matchStats">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="h2h" style="display: none" class="tabcontent">
                        <div class="row" style="width: 879px;position: relative;left: 3px">
                            <div class="col-12 bg-dark">
                                <h5 class="text-white">H2H</h5>
                            </div>
                        </div>
                        <div class="row" style="width: 880px">
                            <table class="table table-striped" id="h2hTable" style="width: 880px">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="playerStatistics" style="display: none" class="tabcontent">
                        <div class="row" style="width: 879px;position: relative;left: 3px">
                            <div class="col-12 bg-dark">
                                <h5 class="text-white">Player Statistics</h5>
                            </div>
                        </div>
                        <div class="row" style="position: relative;left: 8px">
                            <div class="col-12">
                                <div class="tab2" style="width: 880px">
                                    <button id="homeBtn" class="tablinks2 active2" onclick="openTab2(event, 'Home')">Home</button>
                                    <button id="awayBtn" class="tablinks2" onclick="openTab2(event, 'Away')">Away</button>
                                </div>
                            </div>
                        </div>
                        <div id="Home" style="display: block" class="tabcontent2">
                            <div class="row" style="margin-top: 16px">
                                <div class="col-12" style="width: 880px">
                                    <table class="table table-striped" style="width: 875px" id="homePlayerFixStats">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Minutes</th>
                                            <th>Saves</th>
                                            <th>Conceded</th>
                                            <th>Goals</th>
                                            <th>Total Passes</th>
                                            <th>Yellow Cards</th>
                                            <th>Yellow Card</th>
                                            <th>Rating</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Minutes</th>
                                            <th>Total Shots</th>
                                            <th>Shots on target</th>
                                            <th>Goals</th>
                                            <th>Assists</th>
                                            <th>Total Passes</th>
                                            <th>Yellow Cards</th>
                                            <th>Red Cards</th>
                                            <th>Rating</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="Away" style="display: none" class="tabcontent2">
                            <div class="row" style="margin-top: 16px">
                                <div class="col-12" style="width: 880px">
                                    <table class="table table-striped" style="width: 875px" id="awayPlayerFixStats">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Minutes</th>
                                            <th>Saves</th>
                                            <th>Conceded</th>
                                            <th>Goals</th>
                                            <th>Total Passes</th>
                                            <th>Yellow Cards</th>
                                            <th>Red Cards</th>
                                            <th>Rating</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Minutes</th>
                                            <th>Total Shots</th>
                                            <th>Shots on target</th>
                                            <th>Goals</th>
                                            <th>Assists</th>
                                            <th>Total Passes</th>
                                            <th>Yellow Cards</th>
                                            <th>Yellow Card</th>
                                            <th>Rating</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/assets/scripts/matchDetails.js">
</script>
</body>
</html>